*{
  margin: 0;
  padding: 0;
}

.assetLogo{
  background-color: #303030;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 115px;
  justify-content: space-around;
  border: 3px solid  rgba(255, 201, 0);
}

.pokeImg{
  width: 90px;
  height: 90px;
}

.logoImg{
  width: 300px;  
}

.bodySection{
  background-image: url(./Image/poke\ fondo.jpg);
  opacity: 0.9;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleInput{
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

.formInput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.labelNamePokemon{
  padding: 16px;
  font-size: 1rem;
  font-weight: 600px;
  color: white;
}

.inputNamePokemon{
  height: 23px;
  width: 180px;
  border-radius: 10px;
  padding: 5px;
}

.btn-custom {
  background-color: rgba(255, 201, 0);
  color:  #303030;
  border: 3px solid rgba(0, 118, 186);
  width: 120px;
  height: 35px;
  margin: 20px;
  border-radius: 10px;
}

.inputSection{
   margin: 10px;
   display: flex;
   flex-direction: column;
}

.answerSection{
  background-color: rgba(255, 201, 0);
  opacity: 0.9;
  width: 150px;
  height: 250px;
  padding: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 3px solid rgba(0, 118, 186);
  box-shadow: 20px 10px 5px rgba(0,0,0,0.6);
}

.answerImg {
  width: 150px;
}

.tradeMark{
  background-color: #303030;
  border: 3px solid  rgba(0, 118, 186);
  height:75px;
  color:  #303030;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  color: rgba(255, 201, 0);
}